* {
  font-family: pretendard;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100px;
  background-color: #eee;
}
  
#inputForm {
  padding: 0;
  margin: 20px 0;
  outline: 0;
  display: flex;
  width: 1000px;
  height: 50px;
}


.form-select {
  max-width: 120px;
  margin-left: 5px;
}

.btn-warning {
  margin-left: 4px;
  width: 90px;
}



.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
}


.titleImg {
  margin: 0 100px;
  width: 200px;
  height: auto;
}

/* 미디어 쿼리를 사용하여 웹의 사이즈에 따라 스타일을 조정합니다. */

/* 작은 화면 */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  #inputForm {
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 10px 0;
  }

  .mainImg {
    margin: 0 100px;
    width: 200px;
    height: auto;
  }

  .loginForm {
    margin-bottom: 10px;
  }

  .form-select {
    margin-left: 5px;
    margin-right: 5px;
    flex-grow: 1;
  }

  .btn-warning {
    margin-left: 4px;
    width: 90px;
  }
}

/* 메뉴 스타일 */

.menu {
  border: 0.1px rgba(165, 165, 165, 0.733) solid;
  background-color: rgb(225, 225, 225);
  height: 50px;
}

.menuList {
  list-style: none;
  display: flex;
  position: relative;
  left: 415px;
  font-size: 20px;
}

.menuList a {
  color: inherit;
  text-decoration: none;
}

.menuList a:hover {
  color: gray;
  transition: 0.2s;
}

.menuContent {
    
  margin-left: 60px;
}

@media (max-width: 600px) {
  .menuList {
    justify-content: center;
    left: 0px;
  }
  
  .menuContent {
    font-size: 18px;
    margin: 0 40px;
  }
  
  .menu {
    width: 100%;
  }
}

/* 이미지 스크롤 스타일 */


div.scroll-container {
  display: flex; /* div 영역을 Flex Container로 지정*/
  flex-wrap: nowrap; /* Flex Container 내부를 줄바꿈 금지로 설정 */
  overflow-x: scroll; /* div 내부 콘텐츠를 스크롤 가능하게 설정 */
  -ms-overflow-style: none; /* 스크롤바 숨김 */
  scrollbar-width: none; /* 새로운 표준에서 스크롤바 숨김 */
  background-color: hsl(0, 0%, 85%);
  padding: 10px;
  margin: 30px 70px 0 70px;
  height: 500px;
}


.randImg {
  width: 100%;
  max-height: 750px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImg {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
}

.randImg > div {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #f1f1f1;
}

.randImg > div > img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* 이미지 크기, display, 정렬방식 등 */

div.gallery img {
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15%;
}



.responsive {
  padding: 0 6px;
  flex: 0 0 25%; /* Flex Item으로 지정 */
}


/* 이미지 슬라이드 버튼 스타일 */

.fa-solid {
  color: #2c4ba9;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  font-size: 3.5rem;
  transition: font-size 0.2s ease-in-out, color 0.5s ease-in-out;
  border: none;
  cursor: pointer;
}

.fa-solid:hover {
  color: #4ba5d2;
  font-size: 4.5rem;
}

.fa-square-caret-left {
  left: 1%;
}

.fa-square-caret-right {
  right: 1%;
}

div.desc {
  font-size: 20px;
  padding: 5px;
  text-align: center;
}



/* 이미지 hover시 가게정보 스타일 */
div.gallery {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #000000ab;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-radius: 15%;
}

.overlaytext {
  color: white;
  position: absolute;
  left: 8%;
}

.title {
  font-size: 26px;
  font-weight: bold;
  top: 7%;
}

.location {
  font-size: 22px;
  top: 25%;
}

.review {
  font-size: 22px;
  top: 44%;
}

.overlay .tag {
  font-size: 32px;
  top: 62%;
}

.overlay .tags {
  left: 16%;
  top: 62%;
  font-size: 23px;
}

.star {
  top: 70%;
  font-size: 28px;
}

.star .checked {
  color: rgb(255, 221, 0);
}

.overlay .call {
  left: 6.5%;
  top: 82%;
  font-size: 38px;
}

.overlay .callNumber {
  left: 16%;
  top: 82%;
  font-size: 23px;
}

.overlay .comment {
  left: 50%;
  top: 71%;
  font-size: 38px;
}

.overlay .commenter {
  left: 60%;
  top: 71%;
  font-size: 23px;
}


.responsive:hover .overlay {
  bottom: 0;
  height: 100%;
}

@media (max-width: 600px) {

  div.scroll-container {
    margin: 15px;
    height: 300px;
  }

  div.gallery img {
    padding: 5px;
  }
  
  .responsive {
    padding: 0 3px;
    flex: 0 0 50%;
  }

  .fa-solid {
    font-size: 2rem;
  }

  .fa-solid:hover {
    font-size: 2.5rem;
  }

  div.desc {
    font-size: 16px;
    padding: 5px;
    text-align: center;
  }

  .overlaytext {

    left: 4%;
  }

  .title {
    font-size: 18px;
    top: 7%;
  }

  .location {
    font-size: 16px;
    top: 25%;
  }

  .review {
    font-size: 16px;
    top: 46%;
  }

  .overlay .tag {
    font-size: 20px;
    top: 62%;
  }

  .overlay .tags {
    left: 13%;
    top: 61%;
    font-size: 16px;
  }

  .star {
    top: 70%;
    font-size: 18px;
  }

  .overlay .call {
    left: 3.5%;
    top: 82%;
    font-size: 20px;
  }

  .overlay .callNumber {
    left: 13%;
    top: 82%;
    font-size: 16px;
  }

  .overlay .comment {
    left: 45%;
    top: 72%;
    font-size: 20px;
  }

  .overlay .commenter {
    left: 54%;
    top: 71%;
    font-size: 16px;
  }

  .fa-solid {
    font-size: 0px;
  }

}