* {
    font-family: pretendard;
  }

/* 헤더 */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100px;
  background-color: #eee;
}

/* input form */
#inputForm {
  padding: 0;
  margin: 20px 0;
  outline: 0;
  display: flex;
  width: 1000px;
  height: 50px;
}

.form-select {
  max-width: 120px;
  margin-left: 5px;
}

.btn-warning {
  margin-left: 4px;
  width: 90px;
}

/* Login Form */
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
}

.loginContainer span {
  font-size: 24px;
  cursor: pointer;
}

.titleImg {
  width: 350px;
  height: 90px;
  margin-left: 50px;
}

/* 스마트폰 반응형 */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  #inputForm {
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 10px 0;
  }

  .mainImg {
    margin: 0 100px;
    width: 200px;
    height: auto;
  }

  .loginContainer {
    margin-bottom: 10px;
  }

  .form-select {
    margin-left: 5px;
    margin-right: 5px;
    flex-grow: 1;
  }

  .btn-warning {
    margin-left: 4px;
    width: 90px;
  }
}

/* Menu */
.menu {
  border: 0.1px rgba(165, 165, 165, 0.733) solid;
  background-color: rgb(225, 225, 225);
  height: 50px;
  width: auto;
}

.menuList {
  list-style: none;
  display: flex;
  position: relative;
  left: 415px;
  font-size: 20px;
}

.menuList a {
  color: black;
  text-decoration: none;
}

.menuList a:hover {
  color: gray;
  transition: 0.2s;
}

.menuContent {
  margin-left: 60px;
}

@media (max-width: 600px) {
  .menuList {
    justify-content: center;
    left: 0px;
  }
  
  .menuContent {
    font-size: 18px;
    margin: 0 40px;
  }
  
  .menu {
    width: 100%;
  }
}

  .container{
    margin-top: 100px;
    
  }

  .post{
    margin-top: 20px;
  }

  .header{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 70px;
    display: flex;
    justify-content: space-between;
  }

  .title {
    display: flex;
    align-items: center;
    flex-grow: 0;
    margin-left: 20px;
    font-size: 1.5em;
  }

  .comments-count{
    display: flex;
    align-items: center;
    flex-grow: 0;
    margin-right: 20px;
  }

  .info{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 70px;
    display: flex;
    justify-content: space-between;
  }

  .writer {
    display: flex;
    align-items: center;
    flex-grow: 0;
    margin-left: 20px;
  }

  .date{
    display: flex;
    align-items: center;
    flex-grow: 0;
    margin-right: 20px;
  }

  .content-container{
    margin-top: 10px;
    height: 500px;
    vertical-align: top;
    border-bottom: 1px solid gray;
  }

  .content{
    margin-top: 10px;
    height: 400px;
    vertical-align: top;
  }


  .buttons{
    vertical-align: top;
    display: flex;
    justify-content: space-between;    
    margin-bottom: 50px;
  }

  .buttons > button{
    width: 90px;
    height: 60px;
    font-size: 1.2em;
  }

  .list{
    flex-grow: 0;
    margin-right: auto;
  }

  .modify{
    flex-grow: 0;
    margin-left: auto;
  }

  .delete {
    flex-grow: 0;
    margin-left: 10px;
  }

  .comments{
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .comment{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    height: auto;
  }

  .comment-info{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;  
    align-items: center;
  }

  .delete-btn{
    width: 40px;
  }

  .comment-content{
    height: auto;
    padding-top: 10px;
    padding-bottom: 30px;
  }

  .comment-register{
    display: flex;
    align-items: end;
  }

  .comment-input{
    height: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
    vertical-align: top;
  }

  .comment-register-button{
    text-align: right;
  }

  .register-btn{
    width: 90px;
    height: 60px;
    font-size: 1.2em;
  }

