* {
  font-family: pretendard;
}

/* 헤더 */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%; /* 수정 */
  max-width: 100%; /* 추가 */
  height: auto;
  background-color: #eee;
}


#inputForm {
  padding: 0;
  margin: 20px 0;
  outline: 0;
  display: flex;
  width: 1000px;
  height: 50px;
}

.form-select {
  max-width: 120px;
  margin-left: 5px;
}

.btn-warning {
  margin-left: 4px;
  width: 90px;
}

/* Login Form */
.loginContainer {
  display: flex;
  align-items: center;
  text-align: center;
  width: 170px;
}

.loginContainer span {
  font-size: 24px;
  cursor: pointer;
  display: inline-block;
}

.logoutContainer {
  text-align: center;
  width: 170px;
}

.logoutContainer span {
  font-size: 24px;
  cursor: pointer;
  display: inline-block;
}

.titleImg {
  width: 350px;
  height: 90px;
  margin-left: 50px;
}

/* 스마트폰 반응형 */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    
    height: auto;
    padding: 10px;
  }

  #inputForm {
    padding: 0;
    margin: 20px 0;
    outline: 0;
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 40px;
  }

  .mainImg {
    margin: 0 100px;
    width: 200px;
    height: auto;
  }

  .loginContainer {
    margin-bottom: 10px;
    display: flex;
    width: 100px;
  }

  .logoutContainer {
    margin-bottom: 10px;
    justify-content: center;
    width: 100px;
  }

  .form-select {
    margin-left: 5px;
    margin-right: 5px;
    flex-grow: 1;
  }

  .btn-warning {
    margin-left: 4px;
    width: 90px;
  }
}

@media (max-width: 1660px) {
  #inputForm {
    width: 900px;
  }
}

/* Menu */
.menu {
  border: 0.1px rgba(165, 165, 165, 0.733) solid;
  background-color: rgb(225, 225, 225);
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.menuList {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin: 0;
  padding: 0;  
}

.menuList a {
  color: black;
  text-decoration: none;
}

.menuList a:hover {
  color: gray;
  transition: 0.2s;
}

.menuContent {
  margin: 7px 50px;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .menuList {
    left: 0px;
  }
  
  .menuContent {
    font-size: 18px;
    margin: 8px 40px;
  }
  
  .menu {
    width: 100%;
  }
}

/* 리뷰 댓글 */

.review {
  padding-top: 10px;
  font-size: 25px;
  font-weight: bold;
}

#comment-layout {
  border: 1px solid lightgray;
  border-left: none;
  border-right: none;
}

.reply-body {
  /* border-bottom: 1px solid lightgray; */
  padding-left: 15px;
  margin-top: 10px;
}

.reply-content {
  padding-left: 20px;
}

#comment-area-layout {
  border: 1px solid lightgray;
  margin-top: 50px;
  border-left: none;
  border-right: none;
}

#comment-input {
  width: 98%;
  height: 10vh;
  margin-left: 20px;
  display: block;
  margin-top: 10px;
  border: 1px solid lightgray;
}

#comment-btn {
  background-color: gray;
  border: none;
  padding: 5px 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  color: white;
}

.rating {
  width: 180px;
}

.rating__star {
  cursor: pointer;
  color: #dabd18b2;
}

/* 
address
: 
"후쿠오카현 후쿠오카시 주오구 하루요시 2-12-5"
id
: 
5
image
: 
"http://localhost:8080/storage/images/restaurant_images/150x150_square_9c297f9f2943674a787a65127e229bc2.jpg"
menu_type
: 
"호르몬(내장), 이자카야"
phone_number
: 
null
title
: 
"yakinikushimpaku"
total_points
: 
0
total_votes
: 
0 */
