* {
  font-family: pretendard;
}

.form-container {
  min-height: 100vh;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-form {
  overflow-y: auto;
  margin: 30px;
  width: 450px;
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 3px #e7e7e7;
}

.form-label {
  width: 300px;
  font-weight: 500;
}

.form-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
}

.subBtn {
  margin-top: 15px;
  width: 300px;
}

.signup-msg {
  margin-top: 20px;
  font-weight: 300;
}

.btn-primary {
  width: 300px;
  margin: 10px;
}

.error-msg {
  color: red;
  font-size: 14px;
  margin-left: 5px;
}

.form-control {
  margin-top: -3px;
}

.mb-3 {
  position: relative;
}

.passwd-toggle {
  font-size: 12px;
  font-weight: 600;
  color: rgb(57, 86, 194);
  position: absolute;
  top: 73%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* 추가적인 스타일링 */
.passwd-toggle:hover {
  color: rgb(57, 86, 194);
}


