/* 헤더 */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100px;
  background-color: #eee;
}

/* input form */
#inputForm {
  padding: 0;
  margin: 20px 0;
  outline: 0;
  display: flex;
  width: 1000px;
  height: 50px;
}

.form-select {
  max-width: 120px;
  margin-left: 5px;
}

.btn-warning {
  margin-left: 4px;
  width: 90px;
}

/* Login Form */
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
}

.loginContainer span {
  font-size: 24px;
  cursor: pointer;
}

.titleImg {
  width: 350px;
  height: 90px;
  margin-left: 50px;
}

/* 스마트폰 반응형 */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  #inputForm {
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 10px 0;
  }

  .mainImg {
    margin: 0 100px;
    width: 200px;
    height: auto;
  }

  .loginContainer {
    margin-bottom: 10px;
  }

  .form-select {
    margin-left: 5px;
    margin-right: 5px;
    flex-grow: 1;
  }

  .btn-warning {
    margin-left: 4px;
    width: 90px;
  }
}

/* Menu */
.menu {
  border: 0.1px rgba(165, 165, 165, 0.733) solid;
  background-color: rgb(225, 225, 225);
  height: 50px;
}

.menuList {
  list-style: none;
  display: flex;
  position: relative;
  left: 415px;
  font-size: 20px;
}

.menuList a {
  color: black;
  text-decoration: none;
}

.menuList a:hover {
  color: gray;
  transition: 0.2s;
}

.menuContent {
  margin-left: 60px;
}

@media (max-width: 600px) {
  .menuList {
    justify-content: center;
    left: 0px;
  }
  
  .menuContent {
    font-size: 18px;
    margin: 0 40px;
  }
  
  .menu {
    width: 100%;
  }
}

/* 공지사항 */

.notice {
  width: 80%;
  padding-top: 50px;
  padding-left: 100px;
  position: relative;
}

#notice-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.modify-btn {
  background-color: gray;
  border: none;
  padding: 5px 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  color: white;
}

#notice-content {
  border-bottom: 1px solid lightgray;
  margin-bottom: 30px;
  height: 500px;
  overflow: auto;
  position: relative;
}

#modify-text {
  outline: none;
}

#modify-complete-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: gray;
  border: none;
  padding: 5px 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  color: white;
}

/* 공지사항 댓글 */

#comment-layout {
  border: 1px solid lightgray;
  border-radius: 10px;
}

.reply-body {
  border-bottom: 1px solid lightgray;
  padding-left: 15px;
  margin-top: 10px;
}

.reply-content {
  padding-left: 20px;
}

#comment-area-layout {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 50px;
}

#comment-input {
  width: 98%;
  height: 10vh;
  margin-left: 20px;
  display: block;
  margin-top: 10px;
  border: 1px solid lightgray;
}

#comment-btn {
  background-color: gray;
  border: none;
  padding: 5px 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  color: white;
}
